.finish-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finish-h3 {
    margin-top: 30px;
}

.finish-button {
    background-color: rgb(76, 132, 185);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.finish-button:hover {
    background-color: rgb(43, 86, 126);
}