.game-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-start-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-input {
    display: flex;
    width: 250px !important;
    margin-top: 30px;
    font-size: 20px;

}

.name-submit-button {
    background-color: rgb(76, 185, 161);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}

.name-submit-button:disabled {
    background-color: grey;
    color: rgb(187, 187, 187);
    border: 1px dotted rgb(54, 54, 54);
    cursor: not-allowed;
  }

