@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,  h2,  h3,  h4, p, div, button, 
input[type='text'],
input[type='email'],
textarea {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}